body {
    margin: 30px;
    font-family: Verdana, Arial, sans-serif;
    font-weight: 400;
    background-color: rgb(225, 18, 101);

}

.pink {
    background-color: rgb(162, 24, 84);
    color: white;
    text-align: center;
    padding: 1px;
    border-left-color: white;
    border-left-style: solid;
    border-right: 5px solid white;
    border-left: 5px solid white;

}

/**/

.blank {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding-top: 1px;
    padding-right: 10px;
    padding-bottom: 12px;
    margin-bottom: 25px;
}



h2 {  
    color: rgb(24, 238, 28);
}
    
p {
    padding-left: 12px;
    padding-right: 12px;
}


h3 { border-bottom: 3px dashed rgb(156, 0, 55);
    color: rgb(141, 46, 79);
    text-align: right;
    margin-top: 30px;
    /*padding:20px;*/
   }

img {
    width: 90%;
    height: 100%;
}

/* .button {
    font-weight: 600;
    font-size: 1.rem;
        background-color: rgb(28, 169, 49);
        color:white;
        padding: 1rem;
        width: 6rem;
border-radius:0.8rem;


     } */

h6 {

    color: white;
    text-align: center;
    
}

.losmasvendidos {
    text-align: left;
    margin-bottom: 30px;
    color: white;


}

.centerElemento {
    text-align: center;
}

.cajaPrincipal {
padding-top: 10px;
padding-bottom: 29px;
padding-right: 15px;
padding-left: 15px;
    background-color: #bd115c;
    margin-top: 20px;
    border-radius: 6px;
}

footer {
    padding: 2px;
    background-color: rgb(233, 97, 146);
    margin-top: 20px;
}

a {
    display: inline-block;
    background-color: green;
    margin: 30px;
    color: white;
    padding: 15px;
    border-radius: 1rem;
    text-decoration-line: none

}